.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color:#8961F3;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: white;
}
.bg-card {
  width: 80vw;
  height: 80vh;
  background-color:#C8C4dd;
  /*min-height: 100vh;*/
  display: flex;
  padding-top: 3vh;
  flex-direction: row;
  align-items: start;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  color: black;
}
.tabs {
  width: 60vw;
  height:20vh;
  /*background-color:#0000ff;*/
  min-height: 10vh;
 flex: 1;
  flex-direction: row-reverse;
  align-items: flex-start;
  /*justify-content: center;*/
  font-size: calc(4px + 2vmin);
  /*color: black;*/
}
.image {
  width: 20vw;
  height: 30vh;
  /*background-color:#ff0000;*/
  margin-right: 2vw;
  margin-left:2vw;
  min-height: 10vh;
  flex: 0.5;
  flex-direction: row;
  align-items: flex-start;
  /*justify-content: center;*/
  /*font-size: calc(5px + 2vmin);*/
  /*color: black;*/
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
